*{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(243, 242, 216);
    height: 100vh;
    display: block;
    position: relative;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    /* background-color: rgba(48, 47, 49, 0.7); */
    /* border-bottom: 2px black; */
    text-decoration: underline;
    color: rgb(168, 22, 22);
    height: 40px;
    width: 100vw;
    align-items: center;
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul a{
    color: rgb(168, 22, 22);
    text-decoration: none;
    font-family: "prestige-elite-std", monospace;
    font-size: larger;
    font-weight: 700;
}

.project-menu{
    margin-left: auto;
    position: fixed;
    right: 55px;
    top: 0;
    padding-top: 16px;
    opacity: 0;
    transition: opacity 2s ease-in-out; 
    font-family: "prestige-elite-std", monospace;
    text-decoration: none;
}
.project-menu p{
    padding: 0px;
    color:rgb(210, 91, 91);
    text-decoration: none;
}

body:has(#projects:hover) .project-menu{
    opacity: 1;
    transition-duration: 0.6s;
    z-index: 30;
}


.square{
    position: absolute;
    top: 30%;
    left: 70%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.preview{
    padding: 0 !important;
    position: relative;
    width: 400px;
    height: 250px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: rgb(213, 15, 15);
    margin: 0;
    line-height: 1;
}

.one{
    top: calc(30% - 8px);
    left: calc(70% - 410px);
}


.preview iframe{
    border: none;
    position: absolute;
    top: 0;
    left: -50px;
    width: 100%;
    height: 100%;
    transform: scale(140%);
    transform-origin: top left;
    z-index: 2;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.preview p{
    position: absolute;
    display: block;
    z-index: 3;
    font-family:"prestige-elite-std", monospace;
    font-size: 20px;
    color: white;
    text-align: left;
}
.five p, .six p, .seven p{
    color: rgb(0, 0, 0);
    font-weight: 1000;
    font-style: bold;
}


.two {
    top: calc(80% - 238px);
    left: calc(20% + 155px);
}

.three{
    top: calc(130% - 467px);
    left: calc(70% - 410px);
}

.four{
    top: calc(180% - 697px);
    left: calc(20% + 155px);
}

.five{
    top: calc(230% - 927px);
    left: calc(70% - 410px);
}

.six{
    top: calc(280% - 1157px);
    left: calc(20% + 155px);
}

.seven{
    top: calc(330% - 1387px);
    left: calc(70% - 410px);
}

.square:hover{
    cursor: pointer;
}

.square:hover ~ .one, .square2:hover ~ .two, .square3:hover ~ .three, .square4:hover ~ .four, .square5:hover ~ .five, .square6:hover ~ .six, .square7:hover ~ .seven{
    opacity: 1;
}

.square2{
    position: absolute;
    top: 80%;
    left: 20%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.square3{
    position: absolute;
    top: 130%;
    left: 70%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.square4{
    position: absolute;
    top: 180%;
    left: 20%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.square5{
    position: absolute;
    top:230%;
    left: 70%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.square6{
    position: absolute;
    top: 280%;
    left: 20%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.square7{
    position: absolute;
    top: 330%;
    left: 70%;
    width: 150px;
    height: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.line1{
     width: 870px;
    border-bottom: 3px solid rgb(168, 22, 22);
    /* background-color:rgb(168, 22, 22); */
    transform-origin: 0 0;
    transform:rotate(-35deg);
    position:absolute;
    top: calc(80% + 125px);
    left: calc(20% + 75px);
    z-index: -2;

}
.line2{
    width: 870px;
    padding: 0;
    border-bottom: 3px solid rgb(168, 22, 22);
    background-color: rgb(168,22,22);
    transform-origin: 0 0;
    transform:rotate(35deg);
    position:absolute;
    top: calc(80% + 125px);
    left: calc(20% + 75px);
    z-index: -2;

}
.line3{
     width: 870px;
    border-bottom: 3px solid rgb(168, 22, 22);
    /* background-color:rgb(168, 22, 22); */
    transform-origin: 0 0;
    transform:rotate(-32deg);
    position:absolute;
    top: calc(180% + 125px);
    left: calc(20% + 75px);
    z-index: -2;

}
.line4{
    width: 870px;
    border-bottom: 3px solid rgb(168, 22, 22);
    /* background-color:rgb(168, 22, 22); */
    transform-origin: 0 0;
    transform:rotate(30deg);
    position:absolute;
    top: calc(180% + 110px);
    left: calc(20% + 75px);
    z-index: -2;

}
.line5{
    width: 870px;
    border-bottom: 3px solid rgb(168, 22, 22);
    /* background-color:rgb(168, 22, 22); */
    transform-origin: 0 0;
    transform:rotate(-35deg);
    position:absolute;
    top: calc(280% + 125px);
    left: calc(20% + 75px);
    z-index: -2;

}
.line6{
    width: 870px;
    border-bottom: 3px solid rgb(168, 22, 22);
    /* background-color:rgb(168, 22, 22); */
    transform-origin: 0 0;
    transform:rotate(30deg);
    position:absolute;
    top: calc(280% + 120px);
    left: calc(20% + 75px);
    z-index: -2;

}
.text1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.text1 p{
    position: absolute;
    padding: 0;
    margin:0;
    top: 40px;
    left: 50px;
    font-family: "segoe-script", sans-serif;
    font-size: 40px;
    z-index: 50;
    color: black;
}

